In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

In [5]:
# Use pandas to read the xlsx file, clean the data and convert it to a dataframe
Right_brain_df = pd.read_excel('Right.xlsx')
Right_brain_df = Right_brain_df.dropna()

In [7]:
Right_brain_df.head()

,Subject ID,AC_x,AC_y,AC_z,PL_L_x,PL_L_y,PL_R_x,PL_R_y,PM_x,PM_y,PA_x,PA_y,PP_x,PP_y,CM_x,CM_y,CM_z
0,100307,-0.633,0.089,-5.297,-2.448,-22.021,0.310,-22.155,11.547,7.465,15.789,18.629,27.972,-20.192,7.64082,-19.6692,-2.18555
1,100408,0.689,0.215,-2.037,-0.456,-26.823,3.522,-26.804,12.102,6.320,18.876,20.352,32.585,-22.551,10.87140,-22.6009,2.69125
2,101107,-0.489,-1.771,-5.617,-1.504,-25.327,2.342,-25.391,11.667,4.680,15.610,16.946,30.693,-19.662,8.27620,-22.6726,-1.88171
3,101309,-1.036,-2.503,-1.416,-1.647,-26.022,0.466,-26.029,10.791,2.971,14.667,17.353,29.150,-22.017,6.83073,-23.9981,2.91405
4,101915,1.048,2.933,-7.443,-0.447,-21.629,1.748,-21.660,12.094,8.476,17.579,20.229,28.139,-20.966,8.61994,-20.0317,-4.15180

In [8]:
Left_brain_df = pd.read_excel('Left.xlsx')
Left_brain_df = Left_brain_df.dropna()

In [9]:
Left_brain_df.head()

,Subject ID,AC_x,AC_y,AC_z,PL_L_x,PL_L_y,PL_R_x,PL_R_y,PM_x,PM_y,PA_x,PA_y,PP_x,PP_y,CM_x,CM_y,CM_z
0,100307,-0.633,0.089,-5.297,-2.448,-22.021,0.310,-22.155,-12.926,5.728,-17.595,17.571,-31.907,-19.361,-9.78206,-19.0619,-1.66384
1,100408,0.689,0.215,-2.037,-0.456,-26.823,3.522,-26.804,-11.442,5.782,-17.566,18.661,-30.579,-23.307,-7.32496,-24.0915,2.92988
2,101107,-0.489,-1.771,-5.617,-1.504,-25.327,2.342,-25.391,-14.133,5.914,-19.314,16.540,-28.278,-20.461,-7.63225,-22.1851,-2.02365
3,101309,-1.036,-2.503,-1.416,-1.647,-26.022,0.466,-26.029,-12.983,5.493,-19.278,18.372,-30.592,-21.563,-7.98994,-22.4696,2.70457
4,101915,1.048,2.933,-7.443,-0.447,-21.629,1.748,-21.660,-11.126,8.203,-16.534,19.466,-27.702,-17.211,-6.63725,-18.8869,-3.30866

In [ ]:
Left_brain_df.describe()
Right_brain_df.describe()